<!-- <div class="toolbar" role="banner" style="width: 100%">
  
    <span style="background-color:#b7d7a8; 

                top: 10;
                right: 10;
                width: 75%;
                border: 3px solid black;
                text-align: left;">Content component</span>
      <div class="spacer"></div>
  </div> -->

  <div class="toolbar" role="banner" style="width: 100%">
  
    <span style="background-color:#b7d7a8; 
                position: fixed;
                top: 50px;
                left: 230px;
                
                margin: 1px;
                width: 69%;
                height: 300px;
                border: 3px solid black;
                text-align: left;">Content component</span>
      <div class="spacer"></div>
  </div>